{
  "jsc": {
    "parser": {
      "syntax": "ecmascript",
      "jsx": true
    },
    "transform": {
      "react": { // NOT USING REACT ON ALLAH BRO
        "runtime": "classic",
        "pragma": "createElement" // This tells SWC to use our custom createElement function
      }
    }
  },
  "module": {
    "type": "es6"
  }
}
