@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.ibm-plex-mono-thin {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: normal;
}